@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
a{
    color:black;
    text-decoration: none;
}
.body {

}
.body__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFBD3;
    padding: 30px;
}
.header__logo {
    font-size: 64px;
    font-family: "Great Vibes", cursive;
    
}
.header__nav {
    display: flex;
    gap: 40px;
    font-size: 32px;
    font-family: "Caveat", cursive;
    align-items: center;
    text-align: center;
}
.nav__link {

}
@media(max-width:1360px){
    .body__header{
        flex-direction: column;
        gap: 50px;
    }
}
@media(max-width:700px){
    .header__nav{
        flex-direction: column;
    }
}